@charset "utf-8";
@import url(reset.css);
@import url(common.css);
@import url(header.css);
@import url(footer.css);
@import url(font.css);

.container{
    width: 100%;
    position: relative;
}

.mvisual{
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.bg_area{
    width: 100%;
    height: 800px;
}

.bg_area iframe{
    
}

.pattern_bg{
    background: url(../images/pattern_bg.png) repeat 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.mvisual h2{
    position: absolute;
    top: 100px;
    left: 50%;
    background: url(../images/mvisual_tit.png) no-repeat 0 0;
    width: 408px;
    height: 59px;
    text-indent: -9999px;
    margin-left: -204px;
}

/* 
컨텐츠에 left: 50%설정한후에 더욱 정중앙으로 보내는 방법
1. transform: translateX(-50%)
2. 이미지 전체크기가 408px이면 나누기 2를 해서
margin-left: -204px */

.mvisual .obj{
    width: 1240px;
    margin: 0 auto;
    position: relative;
}

.mvisual .obj .item_group{
    position: absolute;
    bottom: 130px;
}

.mvisual .obj .item_group .item{
    float: left;
    width: 290px;
    height: 250px;
    margin-right: 25px;
    overflow: hidden;
}

.mvisual .obj .item_group .item:last-child{
    margin-right: 0;
}

.mvisual .obj .item_group .item a{
    width: 290px;
    height: 250px;
    display: block;
    background-color: #000;
    position: relative;
    opacity: 0.7;
}

.item .imgpop img{
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    transform: translate3d(-1000px,0,0);
    /*x축, y축, z축 // x축에만 설정한 것과 동일한 효과(translateX)
    -1000px설정시 화면밖으로 빠져나가 보이지 않음 */
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* transition을 한번만 선언해놓고 transform, opacity등등 계속 추가가능 ; */
}

.item_group .item a:hover .imgpop img {
    transform: translate3d(0,0,0);
    opacity: 0.6;
}

.mvisual .item_group .grid_content{
    position: absolute;
    bottom: 0px;
    left: 0;
    color: #fff;
    text-align: center;
    background: url(../images/bg_thumb.png) no-repeat left bottom;
    width: 290px;
    height: 250px;
    padding : 80px 0 0 0;
    box-sizing: border-box;
    transition: padding 0.5s ease;
}
/*width:100%, height:100%도 가능하다
%가 익스플로러 하위버전에서 먹히지 않는다. 
opacity도 익스플로러 하위버전에서 먹히지 않는다.*/


.mvisual .item_group .item a:hover .grid_content{
    padding: 140px 0 0 0;
}

.item_group .grid_content .btn{
    margin-top: 20px;
    display: inline-block;
}

.mvisual .item_group .item a:hover .btn{
    background-color: rgba(255,255,255,0.3);
}

/*--------------------------------지각------------------------------*/
.mvisual .obj .control {
    position: absolute;
    bottom: 80px;
    left: 50%;
    width: 110px;
    margin-left: -55px;

}

.mvisual .obj .control a{
    color: #fff;
    background: url(../images/micon.png) no-repeat;
    width: 12px; height: 19px; margin: 0 5px;
    display: inline-block;
    text-indent: -9999px;
}

.mvisual .obj .control a:nth-of-type(1){
    background-position: 0 0;
}

.mvisual .obj .control a:nth-of-type(2){
    background-position: -16px 0;
}
.mvisual .obj .control a:nth-of-type(3){
    background-position: -30px 0;
}
.mvisual .obj .control a:nth-of-type(4){
    background-position: -46px 0;
}


.mvisual .obj .control a:nth-of-type(1):hover{
    background-position: 0 -19px;
}

.mvisual .obj .control a:nth-of-type(2):hover{
    background-position: -16px -19px;
}
.mvisual .obj .control a:nth-of-type(3):hover{
    background-position:-30px -19px;
}
.mvisual .obj .control a:nth-of-type(4):hover{
    background-position: -46p -19px;
}

/* ----------------------지각후 클론코딩 시작------------------------ */


.popup_zone {
    position: relative;
    /*position: relative는 본래 자기자신이 기준*/
    top: -40px;
    left: 0;
    width: 1240px;
    margin: 0 auto;
    height: 80px;
    border: 1px solid#d9d9d9;
    padding: 15px;
    background-color: #fff;
    box-sizing: border-box;
}

/*만약 absolute로 작업했다면 top, left가 너무나 큰 px이 나오기 때문에
너무큰 값이 나오면 작업을 잘못하고 있는 것임. */

.ir_kiost{
    background: url(../images/micon.png) no-repeat;
}


.popup_zone h2{
    font-size: 16px;
    float: left;
    padding-right: 80px;
}
.popup_zone .aram{
    width: 36px;
    height: 40px;
    background-position: -158px 0;
    display: inline-block;
    /*그림이 글자와 글자 사이에 들어가면 position absolute값 설정*/
    position: absolute;
    top: 18px;
    left: 70px;
}

.popup_zone .popup_grep{
    float: left;
    width: 900px;
    line-height: 48px;
    height: 48px;
    overflow: hidden;
    font-size: 14px;
    position: relative;
}

/*제이쿼리에서 애니메이션 처리를 하려면 반드시 position:absolute처리가 되어 있어야함 */

.popup_zone .popup_obj{
    position: absolute;
    top:0;
    left: 0;
    height: 48px;
}


.popup_zone .popup_control{
    float: left;
    margin-top: 10px;
}

.popup_zone .popup_control *{
    vertical-align: middle;
}
/*요소들끼리 세로 중앙 정렬*/

.popup_control .count{
    color: #ff4500;
    font-weight: 600;
    float: left;
    margin-top: 2px;}
    /* 1위치가 내려가 있어서 위로 올리려고 float:left처리 해줌 */


.popup_control a{
    width: 12px;
    height: 19px;
    margin: 0 5px;
    display: inline-block;
    text-indent: -9999px;
}
.popup_control a.prev{
    background-position: 0 -19px;
}
.popup_control a.stop{
    background-position: -16px -19px;
}
.popup_control a.play{
    background-position: -46px -19px;
}
.popup_control a.next{
    background-position: -30px -19px;
}

.mbgwap {
    width: 1240px;
    margin: 10px auto 50px auto;

    /*위의 popup-zone박스가 position:absolute해서 -40px로 위로 올라갔으므로
    margin: 50px auto시 위의 여백은 90px이 되고 아래는 50p이 되어 불균형된다*/
}
.mbgwap .section_box1 .mbox{
    float: left;
    width: 400px;
    height: 240px;
    margin-right: 20px;
    position: relative;
}
.mbgwap .section_box1 .mbox:last-child{
    margin-right: 0;
}
.mbgwap .section_box1 .mbox h2{
    font-size: 16px;
}
.section_box1 .mbox .news .title_ti2 {
    float: left;
    margin-right: 20px;
    font-size: 14px;
}
.section_box1 .mbox .news .title_ti2 .over{
    background: url(../images/bg_mnew.png) no-repeat right 55%;
    padding-right: 14px;
    color: #3378c1;
}
.mbox .obj {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    font-size: 12px;
}
/* 보통 본문 최대 글자크기는 12px (그이상은 보통 넘어가지 않는다) */

.mbox .obj li{
    line-height: 2.7; /*행간작업은 무조건 폰트보다 커야한다 . 3px하면 font-size보다 작다 */
    background: url(../images/dot.gif) no-repeat 0 14px;
    padding-left: 10px;

    /*점 넣는 법: background url로 점 이미지 넣어두고
    background위치 조정을 통해서 점의 위치 설정
    padding-left를 설정하여 공백을 주되, 박스의 기준점은 변하지 않으므로
    박스 기준점에 맞워 background위치가 조정됨.*/
}

.section_box1 .more{
    position: absolute;
    top: -40px;
    right: 0;
}

.section_box1 .more a{
    width: 34px;
    height: 34px;
    display: inline-block;
    background-position: -110px -5px;
    text-indent: -9999px;
}
 
.mbox .obj li .data{
    float: right;
    letter-spacing: -0.05em; /*자간의 최솟값은 -1px이 최소값, 이보다 작을순 없다.
    px은 소수점단위로 계산불가, em은 소수점단위로 미묘하게 계산 가능
    ex) 0.05em이라면 12*0.05=0.6임*/
}
 
.news .obj li a span{
    color: #3378c1;
}

/* display: none처리하면 스크린 리더기가 안읽음
화면에 안나오는걸 스크린리더기가 굳이 읽을필요가 없으므로
화면상에 안나오는건 display:none처리 하기 */



.section_box1  .mpr{
    overflow: hidden;
}
.section_box1  .mpr a{
    background: url(../images/bg_mpr.png) no-repeat 50% 50%;
    width: 100%;
    height: 100%;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration :none;
}
.section_box1  .mpr .tit{
    font-size: 20px;
}

.section_box1  .mpr .pr{
    background: url(../images/mpr_logo.png) no-repeat 50% 50%;
    width: 136px;
    height: 74px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -32px 0 0 -68px;
    /*정중앙으로 옮기려면 transform: translate도 가능하고
    margin으로 width, height각각 -반값씩 이동하는 것도 가능 */
    text-indent: -9999px;
}

.section_box1  .mpr a i{
    display: block;
    font-size: 60px;
    width: 70px;
    height: 70px;
    background-color: #0b9cc7;
    text-align: center;
    line-height: 70px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transform: scale(0);
    /*scale(0)은 크기가 하나도 없다는 뜻, = 안보인다는 뜻*/
    transition: transform 0.5s ease;
    /*transform 혹은 all 이라고 해도 된다.*/
}

.section_box1  .mpr a:hover i{
    transform: scale(1);
}
    /*transform 혹은 all 이라고 해도 된다.*/

.section_box2{
    margin-top: 50px;
}
.section_box2 .iclink{
    width: 380px;
    height: 350px;
    border: 1px solid #d9d9d9;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.section_box2 .iclink:nth-of-type(2){
    margin: 0 50px;
}

.section_box2 .iclink a{
    display: block;
    width: 380px;
    height: 350px;
    text-align: center;
    text-decoration: none;
}
.section_box2 .mbox1 .photo{
    background: url(../images/bg_mkordium.png) no-repeat 50% 50%;
    background-size: cover;

}
.section_box2 .mbox2 .photo{
    background: url(../images/bg_mglobal.png) no-repeat 50% 50%;
    background-size: cover;
    
}
.section_box2 .mbox3 .photo{
    background: url(../images/bg_mcybertour.png) no-repeat 50% 50%;
    background-size: cover;
    
}

.section_box2 .iclink .photo{
    height: 150px;
    width: 378px;
    /*높이값만 줘도 이미지 들어감*/
    transition: height 0.5s ease;
    /*transition : 바뀌는 요소 / 시간 / ? */
    position: absolute;
    top : 0;
    left:0;
    /*position absolute를 해서 떠있기 때문에 텍스트가 뒤로 밀려 안보임*/
    padding-top: 50px;
    box-sizing: border-box;
}

/*padding을 줄때는 무조건 박스기준으로 주어야한다!!!!*/


.iclink a:hover .photo{
    height: 180px;
}


.iclink a .info{
    position: relative;
    /*text값에 relative주면 기존의 니 자리를 기준으로 나와라~*
    더이상 윗 사진의 길이가 길어져도 텍스트가 밀리지 않는다 */
    top: 200px;
}

.iclink .iconk1 {
    display: inline-block;
}
.mbox1 .iconk1{
    background : url(../images/bg_tit_munite1.png) no-repeat;
    width: 139px;
    height: 39px;
}
.mbox2 .iconk1{
    background : url(../images/bg_tit_munite2.png) no-repeat;
    width: 135px;
    height: 37px;
}
.mbox3 .iconk1{
    background : url(../images/bg_tit_munite3.png) no-repeat;
    width: 158px;
    height: 41px;
    /*사진 규격에 맞게 width와 height값을 넣어줌*/
}

.iclink .tit_tx{
    display: block;
    text-indent: -9999px;
}

/*text-indent는 인라인요소에서 먹히지 않음!! 반드시 블럭요소로 바꿔주쟈*/

.iclink a .info .tit{
    font-size: 14px;
    color: #3378c1;
    display: block;
    margin-bottom: 10px;
}


.iclink a .info .btn{
    display: block;
    border: 1px solid #d9d9d9;
    padding: 10px;
    background-color: #fff;
    width: 150px;
    margin: 30px auto 0 auto;
}

.iclink a:hover .info .btn{
    background-color: #3378c1;
    color: #fff;
}

.section_box3{
    margin: 50px 0 ;
}
.section_box3 .mlbox{
    width: 810px;
    margin-right: 50px;
}
.section_box3 .mlbox li{
    float: left;
    width: 250px;
    padding-bottom: 25px;
    background: url(../images/bul_lnk.png) no-repeat 0 bottom;
    transition : background 0.5s ease;
    cursor: pointer;
    position: relative;
}
/*a태그를 안달아 놔서 마우스가 클릭을 못할때
cursor: pointer를 삽입함.*/

.section_box3 .mlbox li:hover{
    background-position: 90% bottom;
}
.section_box3 .mlbox li:nth-child(2){
    margin: 0 30px;
}
/*화살표 움직이게 만드는 방법
background-position을 이용해서 위치를 움직임 */

.section_box3 .mlbox .icmlk1{
    background-position: -200px -173px;
    width: 41px;
    height: 31px;
}
.section_box3 .mlbox li span:first-child{
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
}

.section_box3 .mlbox .icmlk2{
    background-position: -250px -173px;
    width: 44px;
    height: 39px;
}
 
.section_box3 .mlbox .icmlk3{
    background-position: -306px -163px;
    width: 34px;
    height: 45px;
}
.section_box3 .mlbox em{
    display: block;
    color: #3378c1;
    margin-bottom: 5px;
}

.section_box3 .mrbox{
    width: 380px;
}
.section_box3 .mrbox li{
    float: left;
    width: 57px;
}

.section_box3 .mrbox li:nth-of-type(2){
    margin: 0 104px;
}

.section_box3 .mrbox   .ir_kiost{
    display: inline-block;
    width: 57px;
    height: 57px;    
    transition: transform 0.5s ease;
}

.section_box3 .mrbox  .icmlk4{
    background-position:  0 -99px;
}
.section_box3 .mrbox  .icmlk5{
    background-position:  -59px -99px;
}
.section_box3 .mrbox  .icmlk6{
    background-position:  -118px -99px;
}

.section_box3 .mrbox em{
    display: block;
    text-align: center;
}

.section_box3 .mrbox li a{
    display: block;
    /* border: 1px solid red */
}

.section_box3 .mrbox li a:hover .ir_kiost{
    transform: rotate(90deg);
}

.banner {
    position: relative;
}

.banner .control a{
    display: inline-block;
    width: 14px;
    height: 23px;
    position: absolute;
    top: 20px;
    text-indent: -9999px;
}

.banner .control .prev{left: 0;
    background-position: -207px -19px;}
.banner .control .next{right: 0;
background-position: -235px -19px;}

.banner .obox{
    width: 1200px;
    height: 57px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
/*그럼 overflow:hidden 상황에 따라서 부모에 할 수도 있고
자기자신에게 할 수도 있음*/

.banner .obox .obj{
    width: 2000px;
    position: absolute;
    top: 0;
    left: 0;
}
.banner .obox .obj li
    {float: left;
    margin: 0 20px;}



.mnews_letter_wrap{
    width: 100%;
    background: url(../images/bg_mnewsletter.png) repeat 0 0;
    padding: 50px 0;
}
.mnews_letter{
    width: 1240px;
    margin: 0 auto;
    position: relative;
}
.today_wrap{
    width: 300px;
    float: left;
    background-color: #031a39;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 20px;
    height: 335px;
}
.today_wrap a{
    color: #fff;
}


.mletter_tit em{
    font-family:'NanumBold';
    font-weight:600;;
    font-size: 14px;
}
.mletter_ti>em>span{
    display: block;
    font-size: 12px;}
.mletter_tit h2{
    margin: 20px 0;
}


.today_wrap .today_box h3{
    margin-bottom: 10px;
}

.today_wrap .today_box ol li{
    line-height: 2;
}

.today_wrap .today_box .num {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #3378c1;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
}

.news_control{
    font-size: 0;
}

/*font-size: 0을 하는 이유?
자식요소 a span에 display-block을 했을때
자동 공백이 생기기 때문에 
공백을 없애기 위해서 font-size:0을 해줌
대신 자식요소 font-size를 다시 설정하여 크기 조절가능!*/
.news_control a{background: url(../images/bg_control.png) no-repeat;
    width: 31px;
    height: 31px;
    display: inline-block;
    margin-top: 30px;
    font-size: 12px;}
.news_control a.prev{background-position: 0 0;}
.news_control a.next{background-position: -31px 0;}
.news_control a.more{background-position: -62px 0;}
.news_control a span{
    text-indent: -9999px;
    display: inline-block;
}



.news_letter{
    float: left;
    width: 920px;
}

.grep{}
.grep li{
    background-color: #fff;
    width: 220px;
    float: left;
    overflow: hidden;
    height: 335px;
    margin-right: 10px;
}

.grep li .bbsimg{
    width: 220px;
    height:150px;
    overflow: hidden;}

.grep li .bbsimg img{
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 0.5s ease;
}
.grep li a:hover .bbsimg img{
    transform: scale(1.2);
}
.grep li .info{
    text-align: right;
    margin-top: 10px;
    line-height: 2.4;
    padding-right: 5px;
}
.grep li .info .tit{
    color: #222;
    text-decoration: none;
}
.grep li .info .cat{
    color: #3378c1;
}

.grep li .info .text{
    color:#666;
    display: block;
    line-height: 1.8;
}
.grep li .info .date{
    color: #666;
    font-size: 10px;
    margin-top: 15px;
    display: inline-block;
}






