@charset "utf-8";

.container{
    width: 100%;
    position: relative;
}

.visual_wrap{
    width: 1920px;
    position: relative;
    margin: 0 auto;
    height: 510px;
}

.visual_wrap .visual_btn_left{
    left: 150px;
    transform: rotate(-45deg);
}

.visual_wrap .visual_btn_right{
    right: 150px;
    transform: rotate(135deg);
}

.visual_wrap .btn{
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    border-top:1px solid #222;
    border-left: 1px solid #222;
}

.visual_wrap .btn a{
    display: block;
    text-indent: -999px;
}

.visual_btn{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;
}
/*정중앙으로 보내고 싶을때
left:50%
transform: translateX(-50%)
*/

.visual_btn .on{
    width: 80px;
    background-color: #07c;
}
.visual_btn a{
    width: 40px;
    height: 5px;
    background-color: #7c7c7c;
    display: inline-block;
    /* font-size: 12px;
    display: block
    float:left */
    margin-left: 10px;
    text-indent: -9999px;
    
}

.visual_btn a:first-child{
    margin-left: 0;
}

/*display: inline-block을 쓰면 옆으로 배열은 되지만
원하지 않은 공백이 필수불가결 생김
그때는 부모 엘리먼트에
font-size: 0을 해주면 공백 사라지고
자식 엘리먼트에 font-size:12 다시 설정해주면 
font-size는 유지하면서 공백은 없앨수 있음 

혹은 display: block 처리후 
float:left값을 설정하면
결과값은 동일하다 */

.text_wrap{
    position: absolute;
    top: 100px;
    left: 350px;
}

.text_wrap .visual_title{
    font-size: 50px;
    display: block;
    font-weight: 600;
    margin-bottom: 40px;
}

.text_wrap .visual_title span{
    font-weight: 300;
}
.text_wrap .visual_text{
    font-size: 30px;
}
.text_wrap .visual_btn_our{
    display: block;
    margin-top: 50px;
    width: 200px;
    height: 30px;
    background-color: #999;
    border-radius: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}

.visual li a:hover{
    color: #222;
}

.visual li a:hover .visual_btn_our{
    background-color: #07c;
    color: #fff;
}

.visual li{
    width: 1920px;
    height: 510px;
}

.visual li:nth-of-type(1){
    background: url(../image/main_img01.jpg) no-repeat center;
}


.visual li:nth-of-type(2){
    background: url(../image/main_img02.jpg) no-repeat center;
    display: none;
}


.visual li:nth-of-type(3){
    background: url(../image/main_img03.jpg) no-repeat center;
    display: none;
}

/*
차이점?
.visual li:nth-of-type(1)
남자중에 몇번쨰
.visual li:nth-child(1)
남자여자남자여자남자여자중에 몇번째 */

/* 
웹사이타 상에 그림 넣을때 기준 (소수자를 생각하면서- 모든 사용자 맞춤 )
스크린리더기가 읽어야 하면 1) img 처리 / 2) 안읽어도 되면 background처리 하면됨 */


.content_wrap{
    width: 1200px;
    margin: 50px auto;
    position: relative;
}

/*padding은 안쪽 내용에 영향을 주기 때문에 margin처리를 해야 컨텐츠 영향 없이 공백처리 가능 */
.content_wrap .contents_1{
    float: left;
    width: 770px;
}


/*굳이 float:left , float:right할 필요없이
둘다 left주고 width값만 잘 계산하면 된다. */

.contents_1 .cont_div1{}

.cont_div1 .company{
    width: 385px;
    float: left;
    height: 250px;
    background: url(../image/main_banner01.jpg) no-repeat 0 0;
    background-size: cover;
    position: relative;

}

.cont_div1 .company:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* --------------------------------------
    이렇게 굳이 넓이 지정안해주고도
    top,left,right,bottom 위치만 지정해주면
    부모의 넓이로 부터 (100%, 100% 동일하게 만들어짐) 
    width: 100%, height:100과 같은 의미이다*/
    background-color: rgba(0,0,0,0.3);
}

.cont_div1 .company a,
.cont_div1 .product_cont a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    padding: 80px 30px 20px; /*위, 좌우, 하*/
    text-decoration: none;
    background: url(../image/icon_main_banner01.png) no-repeat center 20px;
    /*background위치설정은 backgroun 맨 뒤에 넣으면됨, center 20px*/
    box-sizing: border-box;
}
/*z-index는 position과 무조건 같이 써야함!!*/

.cont_div1 .cont_h3{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 0 0 2px rgba(0,0,0,0.5); /*x축, y축*/
}
/*margin이 먹히는 것 보니 h는 블럭요소인듯?*/

.cont_div1 .cont_text{
    text-align: center;
    font-size: 16px;
    color: #fff;

}

.cont_div1 .product_cont{
    width: 385px;
    float: left;
    height: 250px;
    background-color: #bcbcbc;
}


.cont_div1 .product_cont a{
    background: url(../image/icon_main_banner02.png) no-repeat center 20px;
}
 
.product_cont .cont_h3{
    color: #222;
}

 
.product_cont .cont_text{
    color: #222;
}

.cont_div2 .customer{
    width: 385px;
    /* width: 384px (box-sizing:borderbox가 없는 하위요소 컴퓨터일경우) */
    height: 250px;
    /* height: 249px (box-sizing:borderbox가 없는 하위요소 컴퓨터일경우) */
    float: left;
    background-color: #fff;
    border-left: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9; /*1px씩 늘어나서 총 386px 256px이 됨
    따라서 box-sizing:border-box(css3)를 씀*/
    box-sizing: border-box; 
    /*box-sizing:borderbox가 없는 사이트는 어떻게 할거냐?
    width: 382px;
    height:249px;로 줌
    box-sizing:border-box; 안먹히는 브라우저는 px단위로 계산해야함 */
    padding: 30px;
    text-align: center;
    /*부모의 text-aligh:center적용시 자식요소도 center로 적용됨!*/
}

.cont_div2 .cont_div_h3{
    font-size: 30px;
}

.customer .tell{
    display: block;
    font-size: 38px;
    margin: 20px 0 30px 0;
}

.customer span{
    font-size: 14px;
     line-height: 1.5; /*px, %, em모두 들어갈 수 있는데
    해당하는 폰트의 1.5배라는 뜻*/
}

.cont_div2 .notice{
    width: 385px;
    height: 250px;
    float: left;
    background-color: #f1f1f1;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.notice .notice_list{
    text-align: left;
    margin-top: 20px;
}
.notice .notice_list li{
    line-height: 2.5; /*line-height는 단위넣지 말것
    (항상 폰트사이즈 기준으로 
    단위가 없을때 1미만이면 서로 붙는다.
    line-height는 font-size보다 항상 커야한다~~!!
    
    만약 단위로 px를 줬는데
    font-size:10px, line-height:8px ->글자가 서로 붙음
    font-size:10px, line-height: 0.8 -> 글자가 서로 붙음
    */
    font-size: 14px;
    border-bottom: 1px dotted #d9d9d9;
}
.notice .more{
    position: absolute;
    top: 30px;
    right: 30px;
}

/*vw,vh는 아직 우리나라에서 대중화가 안됨
외국에서는 많이 사용.*/

.content_wrap .contents_2{
    float: left;
    width: 430px;
    height: 500px;
    position: relative;
    overflow: hidden;
    /*사진 1개만 보이고 나머지는 다 숨겨짐 */
}

/* ----------------------
그림 슬라이딩으로 바꾸려고 할때 세가지 방법

1)
가로로 나란히 배치후 하나만 보이고
나머지 두개는 overflow : hidden
-> 옆으로 슬라이딩으로 바뀜

2)
세개를 모두 한자리에 포개놓음
(position:absolute를 줘서)
-> 옆으로 슬라이딩도 가능하고 자리에서 바뀌는 것도 가능 

3)
세로로 나란히 배치구 하나만 보이고
나머지 두개는 overflow:hidden
->옆으로 슬라이딩은 안됨
그자리에서 바뀔때

두개가 동시에 슬라이딩으로 바뀌면 사이트가 정신없으므로
만약 그림바꾸기 두개이상 주면 방법을 다르게 하기!
*/
.contents_2 .contents_banner{}
.contents_2 .contents_banner li{
    width: 430px;
    height: 500px;
    padding: 50px;
    box-sizing: border-box;
}

.contents_2 .contents_banner li a{
    text-decoration: none;
}

.contents_banner .cont_banner_title{
    font-size: 32px;
    display: block;
    margin-bottom: 30px;
}
.contents_banner .cont_banner_text{
    font-size: 16px;
    line-height: 1.5;
}

.contents_2 .contents_banner li:nth-of-type(1){
    background: url(../image/main_banner03_1.jpg) no-repeat 0 bottom;
}

.contents_2 .contents_banner li:nth-of-type(2){
    background: url(../image/main_banner03_1.jpg) no-repeat 0 bottom;
}

.contents_2 .contents_banner li:nth-of-type(3){
    background: url(../image/main_banner03_1.jpg) no-repeat 0 bottom;
}
.contents_2 .banner_btn_number{
    position: absolute;
    bottom: 50px;
    left: 50%;
    font-size: 0;
    transform: translateX(-50%);
}
/*left : 50%일때는 텍스트의 첫 시작이
중간으로 가므로 정중앙으로 맞춰주려면
transform: translateX(-50%)를 설정해줘야함
그래야 정중앙으로 감

위치를 %로 잡았을때는 무조건 translateX나 translateY로
정중앙 자리시켜야 함*/

.contents_2 .banner_btn_number a{
    width: 15px;
    height: 15px;
    background-color: #fff;
    display: inline-block;
    font-size: 12px;
    border-radius: 100%;
    text-align: center;
    margin-left: 10px;
    text-indent: -9999px;
}

/*text-align은 텍스트의 중앙이 무조건 중앙으로 가니까 굳이 
transform이 필요하지 않다*/

/*A가 인라인요소이기 때문에 두가지 방법
display: inline-block (공백생김, 부모에 fontsize:0)
display: block(위아래로 정렬되기때문에, float:left설정)*/

.contents_2 .banner_btn_number a.on{
    background-color: #ffa500;
    padding: 3px;
}

/* 
  같은 태그내의 클래스를 호출할때는 .을 붙여서
  자식 태그의 클래스를 호출할때는 .을 띄어써서 */


.banner_btn_arrow .banner_btn{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    display: block;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    transform: translateY(-50%);
}

/*%로 위치 잡을경우 translateX, translateY로 
위치 다시 잡아줘야한다. */

.banner_btn_arrow .banner_btn a{
    display: block;
    text-indent: -9999px;
}

/*display: block을 안해주면
text-indent가 먹히질 않는다. 반드시 
display: block으로 블락요소로 바꿔줘야함. */

.banner_btn_arrow .banner_btn_prev{
    left: 30px;
    transform: rotate(-45deg);
}
.banner_btn_arrow .banner_btn_next{
    right: 50px;
    transform: rotate(135deg);
}

.inquiry_wrap{
    width: 100%;
    height: 270px;
    text-align: center;
    margin: 50px 0 ;
    background: url(../image/bg_main_banner04.png) repeat 0 0;
    background-color: rgba(11,67,90,0.5);
    /*background img와 background-color순서는
    무조건 img가 먼저 나와야함*/
    position: relative;
}

/*
text-align 은 본인뿐만 아니라 자식요소들을 center로 정렬함
그래서 보통 컨텐츠를 일괄적으로 중앙으로 정렬시키고 싶을때, 
모든 컨텐츠를 포함하는 태그에 text-align:center를 걸면 
자식요소들 모두 중앙으로 움직인다. */

.inquiry_wrap:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../image/bg_main_banner04.jpg) no-repeat center top fixed;
    /*background에 fixed추가로 고정시킴*/
    z-index: -1;
}
/*z인덱스로 그림을 가장 밑으로 보낼때는 -1만 쓴다
-1이 제일 작은 값. -2,-3,-4,,,,같은 것은 없음! */

/*width:100%일때 사진은 3000px이상된 큰 사진을 가져오기*/


.inquiry_wrap .inquiry_cont{
    color: #fff;
    padding: 50px 0;
    box-sizing: border-box;

}


.inquiry_wrap .inquiry_cont p{
    font-size: 38px;

}
/*컬러설정하면 자식요소인 p태그는 컬러가 변경되나
a태그는 같은 자식이라고 컬러가 변경되지 않는다.
a태그는 부모요소에 잡아도 변경되지 않으니 정확하게 집어주어야 한다. */
.inquiry_wrap .inquiry_cont a{
    text-decoration: none;
}

.inquiry_wrap .inquiry_cont .inquiry_more{
    color: #fff;
    width: 250px;
    height: 50px;
    background-color: rgba(255,255,255,0.3);
    display: inline-block;
    border-radius: 30px;
    line-height: 50px;
    font-size: 20px;
    margin-top: 50px;
    /*세로로 중간으로 넣을때는 무조건
    line-height: height값(50px)*/
}

.inquiry_wrap .inquiry_cont a:hover .inquiry_more{
    background-color: rgba(11,67,90,1);
}

.product_wrap {
    width: 1200px;
    margin: 50px auto; /*위에 여백을 줄때 margin: 50px, auto를 준다!*/
}

.product_list{}
.product_list li{
    float: left;
    width: 285px;
    height: 285px;
    position: relative;
    margin-right: 20px;
}

.product_list li:last-child{
    margin-right: 0;
}

.product_list li .sale{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #07c;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;

}

.product_list > li > a > img{
    width: 285px;
    height: 285px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
}


.product_box{
    position: absolute;
    top: 0;
    left: 0;
    width: 285px;
    height: 285px;
    opacity: 0;
    /*이것이나
    top : 
    bottom :
    left :
    bottom :
    동일한 효과;;*/
}
.product_list > li:hover .product_box{
    background-color: rgba(0,0,0,0.3);
    padding: 30px;
    box-sizing: border-box;
    opacity: 1;
}

/*마우스 올렸을때만 나타나는 효과 보고 싶으면
마우스 올리기전 opacity:0
마우스 올릴때 opacity:1을 줌*/
.product_box .product_title{
    font-size: 30px;
    color: #fff;
    text-align: center;
    display: block;
}

.product_box .product_btn{
    position: absolute;
    bottom: 50px;
    left: 40px;
    font-size: 0;
}

.product_box .product_btn a{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: rgba(11,67,90,1) ;
    border-radius: 5px;
    text-align: center;
    /* line-height: 60px;  이미지라서 중앙으로 안감
    그렇다면 어떻게 할것인가?????
    이미지를 중앙으로 내려야 하는데
    padding-top과
    box-sizing:border-box이용 중앙으로 설정  */
    margin-right: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.5s ease;
}

.product_box .product_btn a:last-child{
    margin-right: 0;
}

/*순서대로 나오게하려면 애니메이션
하나씩 순서대로면 : transition-delay를 사용 */
.product_list > li:hover .product_btn a:nth-of-type(1){
    opacity: 1;
    transition-delay: 0.1s;

}
.product_list > li:hover .product_btn a:nth-of-type(2){
    opacity: 1;
    transition-delay: 0.3s;
}
.product_list > li:hover .product_btn a:nth-of-type(3){
    opacity: 1;
    transition-delay: 0.6s;
}

.quick_menu_wrap{
    width: 1200px;
    margin: 50px auto;

}
.quick_menu_wrap .quick_menu{}
.quick_menu_wrap .quick_menu li{
    float: left;
    width: 220px;
    height: 130px;
    margin-right: 25px;
    background-color: #07c;
    text-align: center;
    line-height: 130px;
    border-radius: 5px;
}

.quick_menu_wrap .quick_menu li:last-child{
    margin-right: 0;
}

.quick_menu_wrap .quick_menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    display: block;

}

.quick_menu_wrap .quick_menu li a:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,0.2);
    transition: all 0.5s ease;
}

/*애니메이션은 
호버하기 전의 대상에게 넣는다 */
.quick_menu_wrap .quick_menu li:hover a:after{
    content: '';
    width: 0;
}